.global_wrapper {
  overflow: hidden;
  @media (min-width: 1366px) {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      pointer-events: none;
      width: 408px;
      height: 408px;
      top: -256px;
      left: -258px;
      border-radius: 50%;
      background: #3bd9af;
      opacity: 0.2;
      filter: blur(447px);
    }
  }
}
