@import "../global/variables.scss";
@import "../global/mixins.scss";
.title {
  font-weight: 800;
  font-size: 58px;
  line-height: 71px;
  font-family: $font-montserrat;
  @media (max-width: $size-phone) {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 37px;
  }
}

.subtitle {
  font-size: 20px;
  line-height: 140%;
  font-weight: normal;
  @media (max-width: $size-phone) {
    font-size: 16px;
    line-height: 140%;
    br {
      display: none;
    }
  }
}
.ending {
  margin-bottom: 65px;
  font-size: 20px;
  line-height: 140%;
  @media (max-width: $size-phone) {
    font-size: 16px;
    line-height: 140%;
    max-width: 334px;
    margin-bottom: 32px;
  }
}

.outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media (min-width: 1366px) {
    justify-content: space-between;
    flex-wrap: wrap;
    height: 1805px;
  }
  @media (max-width: $size-phone) {
    justify-content: center;
    align-items: center;
  }
}

.block {
  max-height: fit-content;
  height: fit-content;
  @media (min-width: 1366px) {
    max-width: 517px;
    &:nth-of-type(2) {
      margin-top: 146px;
    }
    &:nth-of-type(3) {
      margin-top: 170px;
      align-self: flex-start;
    }
    &:nth-of-type(4) {
      margin-top: 102px;
    }
    &:nth-of-type(5) {
      margin-top: 175px;
    }
    &:nth-of-type(6) {
      // margin-top: 80px;
      height: 196px;
    }
  }
  @media (max-width: $size-phone) {
    width: 100%;
    margin-bottom: 20px;
    &:first-of-type {
      margin-bottom: 40px;
      max-width: 290px;
      text-align: center;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &:nth-of-type(5) {
      margin-bottom: 41px;
    }
    &:nth-of-type(6) {
      text-align: center;
      height: auto;
      @include flex($direction: column);
    }
  }
}
