@import "../global/variables.scss";
@import "../global/mixins.scss";

.btn_start {
  @include flex();
  @include wh(260px, 74px);
  background: $clr-green-2;
  box-shadow: 0px 33px 52px -18px rgba(59, 217, 175, 0.41);
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  @media (max-width: $size-phone) {
    @include wh(220px, 65px);
    font-size: 13px;
  }
}
.projects_ending_btn {
  @include flex();
  background: transparent;
  div {
    margin-right: 9px;
    color: $clr-green;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  svg {
    @include wh(17.61px, 17.61px);
    transform: rotate(45deg);
  }
  @media (max-width: $size-phone) {
    font-size: 14px;
    line-height: 16px;
  }
}
.btn_form_send {
  @include wh(310px, 84px);
  @include flex();
  box-shadow: 0px 33px 52px -18px rgba(59, 217, 175, 0.41);
  border-radius: 15px;
  background: $clr-green-2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  @media (max-width: $size-phone) {
    @include wh(220px, 65px);
    line-height: 15px;
    font-size: 13px;
  }
}
.social_btn {
  cursor: pointer;
  @include flex();
  @include wh(50px, 50px);
  color: none;
  border: 1px solid rgba($clr-green, 50%);
  border-radius: 50%;
  padding: 0;
  background: transparent;
  transition: 0.1s;
  svg {
    @include wh(20px, 20px);
    fill: $clr-green;
    overflow: visible;
  }
  @media (min-width: $size-laptop) {
    &:hover {
      svg {
        fill: $clr-white;
      }
      border: 1px solid $clr-white;
    }
  }
}
