$clr-green: #3bd9af;
$clr-green-2: #0fcb99;
$clr-bg-blue: #152843;
$clr-white: #fff;

$font-montserrat: "Montserrat", sans-serif;
$font-gt: "GT Eesti Pro Text", sans-serif;

$size-desktop: 1920px;
$size-macbook: 1440px;
$size-laptop: 1366px;
$size-ipad-pro: 1024px;
$size-ipad: 768px;
$size-phone: 480px;
$size-iphone-se: 320px;
